{% extends "@App/structure/general.html.twig" %}

{% block head__title %}
    {{ user.getFullName }}
{% endblock %}


{% block body__content %}
    <div class="page-title">
        <div class="title_left">
            <h3>{% trans %}Edit Profile{% endtrans %}</h3>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_content">
                    <span class="section">Image</span>
                    {{ form_start(imageForm, { 'attr' :{
                        'class': 'form-horizontal form-label-left',
                        'novalidate': ''
                    }}) }}

                    {{ form_widget(imageForm._token) }}
                    {{ form_errors(imageForm) }}

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="image"></label>
                        <div class="col-md-6 col-sm-6">
                            <img src="{{ attachmentThumb(user.image) }}" alt="{{ user.fullName }}"
                                 style="width: 220px; height: auto"
                            />
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="image">
                            {% trans %} Image {% endtrans %} <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6">
                            {{ form_widget(imageForm.file, {'attr': {
                                'class': 'novalidate',
                            }}) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        {{ form_widget(imageForm.save, {'attr': {
                            'class': 'btn btn-primary',
                        }}) }}

                        <a href="{{ url('user.profile.view', {'user_id': user.id}) }}" class="btn btn-dark " >
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>
                </div>
                {{ form_end(imageForm) }}

                <div class="clearfix"></div>
                <span class="section">Personal Info</span>
                {{ form_start(form, { 'attr' :{
                    'class': 'form-horizontal form-label-left',
                    'novalidate': ''
                }}) }}

                {{ form_widget(form._token) }}
                {{ form_errors(form) }}
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="id">
                        {% trans %} User id {% endtrans %}
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control disabled" id="id" disabled value="{{ user.id }}"/>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="username">
                        {% trans %} Username {% endtrans %}
                    </label>
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control disabled" id="username" disabled
                               value="{{ user.username }}"/>
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="firstName">
                        {% trans %} FirstName {% endtrans %} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        {{ form_widget(form.firstName, {'attr': {
                            'class': 'form-control',
                            'required': 'required'
                        }}) }}
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="lastName">
                        {% trans %} LastName {% endtrans %} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        {{ form_widget(form.lastName, {'attr': {
                            'class': 'form-control',
                            'required': 'required'
                        }}) }}
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="email">
                        {% trans %} Email {% endtrans %} <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6">
                        {{ form_widget(form.email, {'attr': {
                            'class': 'form-control',
                            'required': 'required'
                        }}) }}
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="company">
                        {% trans %} Company {% endtrans %}
                    </label>
                    <div class="col-md-6 col-sm-6">
                        {{ form_widget(form.company, {'attr': {
                            'class': 'form-control',
                        }}) }}
                    </div>
                </div>

                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="companyPosition">
                        {% trans %} Company position {% endtrans %}
                    </label>
                    <div class="col-md-6 col-sm-6">
                        {{ form_widget(form.companyPosition, {'attr': {
                            'class': 'form-control',
                        }}) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        {{ form_widget(form.save, {'attr': {
                            'class': 'btn btn-primary',
                        }}) }}

                        <a href="{{ url('user.profile.view', {'user_id': user.id}) }}" class="btn btn-dark " >
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}

                <span class="section">Password</span>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
